spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database : testdb

logging:
  level:
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate=DEBUG:

